apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: platform-public
  namespace: gateway-system
spec:
  secretName: platform-public-tls
  privateKey:
    rotationPolicy: Always
  dnsNames:
    - argocd.example.invalid
    - grafana.example.invalid
    - gitlab.example.invalid
    - registry.example.invalid
  issuerRef:
    name: platform-acme
    kind: ClusterIssuer
    group: cert-manager.io
