apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: platform-apps
  namespace: argocd
spec:
  description: Namespaced business workloads in apps-dev only
  sourceRepos:
    - https://git.example.invalid/platform/k8s-dev-test.git
  destinations:
    - server: https://kubernetes.default.svc
      namespace: apps-dev
  clusterResourceWhitelist: []
  clusterResourceBlacklist:
    - group: '*'
      kind: '*'
  namespaceResourceWhitelist:
    - group: ''
      kind: ConfigMap
    - group: ''
      kind: Secret
    - group: ''
      kind: Service
    - group: ''
      kind: PersistentVolumeClaim
    - group: ''
      kind: Pod
    - group: apps
      kind: Deployment
    - group: apps
      kind: StatefulSet
